nav {
  background-color: #58646d;
}

nav ul {
  list-style-type: outside;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#banner {
  background-image: url(https://www.chase.com/content/services/structured-image/image.tablet.png/chase-ux/heroimage/primary/personal/auto/education/buying/seo_what_to_know_about_buying_car_out_of_state_private.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0;
  color: #ffffff;
  font-size: large;
}

#cartdiv {
  background-color: white;
  min-height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 1rem;
  row-gap: 1rem;
}

.button.inventory {
  display: inline-block;
  padding: 10px 20px;
  background-color: #655e59;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 4px;
  font-weight: bold; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.button.inventory:hover {
  background-color: #557289;
}


#featured-cars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.car {
  text-align: center;
}

.car img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.image-resize {
  width: 200px;
  height: auto; 
}

#cartbutton {
  position: fixed;
  top: 25px;
  right: 25px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border-radius: 8px;
  border: none;
  text-align: center;
}

#cartdiv {
  display: none;
}

#carList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 1rem;
  row-gap: 1rem;
}
#carList > div {
  margin-block: 0.5rem;
}

.car-list-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 1rem;
  row-gap: 1rem;
}

.car {
  text-align: center;
  width: calc(33.33% - 1rem); /* Adjust the width to fit three cars in a row */
  margin-bottom: 1rem;
}

.car img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}


#aboutPage {
  display: none;
  padding: 20px;
  background-color: #f0f0f0;
}

#aboutPage h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#aboutPage p {
  font-size: 16px;
  line-height: 1.5;
}

.welcome {
  font-size: 2em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.find-dream-car {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
