nav {
  background-color: #58646d;
}

nav ul {
  list-style-type: outside;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#banner {
  background-image: url(https://media.ed.edmunds-media.com/non-make/carbuying/carbuying_426161_717.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
}

#featured-cars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
}

.car {
  text-align: center;
}

.car img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  
}

.welcome {
  font-size: 30px;
  font-weight: 24px;
  position: relative;
  z-index: 1;
  text-shadow: #555;
}

.hide {
  display: none !important

}
