nav {
    background-color: #8b72a3;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .image-container {
    width: 500px;
    height: 500px;
    border: 1px solid rgb(255, 255, 255);
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }